<footer class="bg-gray-900 text-white h-[50px]">
    <div class="flex justify-center items-center h-full px-4">
        <span class="text-xs sm:text-sm lg:text-base">
            &copy;<span id="year"></span> TC Stixneusiedl/Gallbrunn | 
            <a href="/legal/imprint" class="hover:text-cyan-200">Impressum</a> | 
            <a href="/legal/privacy" class="hover:text-cyan-200">Datenschutz</a>
        </span>
    </div>
</footer>

<script>
    document.getElementById('year').textContent = new Date().getFullYear();
</script>