<div class="grid lg:grid-cols-[30%_70%] 2xl:grid-cols-[20%_80%] ">
    <!-- SIDE BAR -->
    <div class="bg-gray-100">
        <div class="text-[17px] my-3 w-full pl-3">
            <h2 class="font-bold">Meine Buchungen</h2>
        </div>
        <div>
            
        </div>
    </div>
    <!-- Main Content -->
    <div>
        {{> courtTable }}
    </div>
</div>