<div class="w-[93%] mx-auto p-3 my-5">
    <div class="w-full text-center">
        <span class="text-[30px]">Impressum</span>
    </div>
    <div class="w-max mx-auto py-5">
        <p class="font-bold">Offenlegung gemäß § 25 Mediengesetz</p><br>
        <p class="font-bold">Medieninhaber und für den Inhalt verantwortlich:</p>
        <p>TC Stixneusiedl/Gallbrunn</p>
        <p>Neufeldergasse 76, 2463 Stixneusiedl</p><br>
        <p class="font-bold">Obmann:</p>
        <p>Michael Steurer</p>
        <p>Tel Nr: +43 660 4947062</p>
        <p>Email: <a href="mailto:michael.steurer19@gmail.com" class="hover:text-cyan-400">michael.steurer19@gmail.com</a></p><br>
    </div>
</div>